

h2{
    text-align: center;
}
p{
    text-align: center;
}
footer{
    background-color: black;
    
}
h2{
    color: white;
}
p{
    color: blueviolet;
}
#info{
    background-color: black;
}