
section>div>iframe{
    width: 55vh;
    height: 55vh;
}
section>div{
    float: left;
    border-radius: 1vh;
    border-color: blueviolet;
    border-style: double;
    background-color: black;
}

iframe{
    width: 98vh;
    height: 55vh;
}

#vid1{
    text-align: left;
    padding-left: 23vh;
}
#vid2{
    text-align: center;
    
}
#vid3{
    text-align: right;
    float: none;
    padding-right: 17vh;
    
}
footer{
    background-color: black;
}
